<img style="float: left;;" src='Figures/alinco.png' /></a>

# <center> <font color= #000047> Actividad 5: Algoritmos Genéticos
    
___

<h1> Nombre: </h1>
<hr>

<div class="alert alert-success">

Obtenga una clasificación usando regresión lineal optimizada por un AG.
</div>

In [4]:
import pandas as pd
petrol = pd.read_csv('Data/petrol_consumption.csv')

In [5]:
petrol.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

<div class="alert alert-success">

Obtenga una clasificación usando regresión logística optimizada por un AG.
</div>

In [7]:
import pandas as pd
social = pd.read_csv('Data/Social_Network_Ads.csv')

In [9]:
social

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

#### Función de Costo

$$J(\beta) = -\frac{1}{m} \sum_{i=1}^m[y^{(i)}\log\hat{y}(x^{(i)}) + (1-y^{(i)})\log(1 - \hat{y}(x^{(i)}))]$$